*{
    dark-primary-color: #0097A7;         /*background*/
    default-primary-color: #00BCD4;      /*background*/
    light-primary-color: #B2EBF2;        /*background*/

    accent-color: #FFC107;               /*background button*/

    text-primary-color: #FFFFFF;         /*texticonscolor*/
    primary-text-color: #212121;         /*textcolor*/
    secondary-text-color: #757575;       /*textcolor*/
    divider-color: #BDBDBD;              /* border-color*/
}

.root{

    -fx-background-color: light-primary-color;
    -fx-opacity: 0.8;
    -fx-font-family: "arial";
    -fx-text-fill: primary-text-color;
    -fx-background-image: url("/sample/image/background-image.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.text-area{
    -fx-opacity: 0.80;
    -fx-wrap-text: true;
}

.text-area:hover{
    -fx-opacity: 0.90;
}

.text-area:focused{
    -fx-opacity: 1.0;
}


.text-field{
     -fx-opacity: 0.80;

}
.text-field:hover{
    -fx-opacity: 0.90;
}

.text-field:focused{
    -fx-opacity: 1.0;
}

.label{
    -fx-font-weight: bold;
    -fx-font-family: "Western";
    -fx-font-family: cursive;
    -fx-cursor: text;
    -fx-text-fill: primary-text-color;
    /*-fx-border-style: solid;
    -fx-border-width: 3;
    -fx-border-color: rgba(244, 244, 244, 0.8);
    -fx-border-radius: 5px;*/
}
.button{
    -fx-base: accent-color;
    -fx-border-color: derive(accent-color, -20%);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-background-insets: 1;
    -fx-opacity: 1.0;
    -fx-text-fill: navy;

    /*-fx-background-color: #b81e36;*/
            /*linear-gradient (#ff22cc, #ff9999);
            radial-gradient(center, 50%, -40%, radius 100%, #b8ee36 45%, #80c880 50%);*/
}

.button:hover{
    -fx-background-color: derive(accent-color, -30%);
    -fx-border-color: derive(accent-color, -50%);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-background-insets: 1;
    -fx-text-fill: yellow;

    /*-fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);*/

}
.button:pressed{
    -fx-background-color: derive(accent-color, -60%);
    -fx-border-color: derive(accent-color, -80%);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-background-insets: 1;
    -fx-translate-x: -3;
    -fx-translate-y: 3;
    -fx-border-style: dashed;
    -fx-text-fill: aliceblue;
    /*-fx-text-fill: ladder(
         white,
         yellow 60%,
         green 80%,
         white 90%
        );*/

    /*-fx-text-fill: ladder(-text-background, white 0%, white 49%, black 50% black 100%);*/
    /*-fx-label-padding: 2 2 -2 -2;*/
}
#undisabledButton{
     -fx-base: accent-color;
        -fx-border-color: derive(accent-color, -20%);
        -fx-background-radius: 5px;
        -fx-border-radius: 5px;
        -fx-border-width: 1px;
        -fx-background-insets: 1;
        -fx-opacity: 1.0;
        -fx-text-fill: navy;
}
.button:focused{
     -fx-text-fill: #FFFFFF;
        -fx-font: 15pt "Raleway SemiBold";
        -fx-background-color: #000000, #720D4D, #D03A9A, #DD70B6, #B01378, #CC2C93, #D03A9A, #C81688;
        -fx-background-insets: 0, 1, 1 2 2 1, 1 2 2 2, 2, 2 3 3 2, 2 3 3 3, 3;
        -fx-background-radius: 0;
        -fx-padding: 4px 20px;
        -fx-border-insets: 0px;
        -fx-border-radius: 0px;
        -fx-border-width: 0px;
}








/*.text-input {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-cursor: text;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}*/
/*.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}*/